name: Run MCV Script Daily

on:
  # GASなどの外部APIから叩けるようにする設定のみ
  workflow_dispatch:

jobs:
  run-mcv-scraper:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Check file list
        run: ls -R

      - name: Run script
        env:
          USER_ID: ${{ secrets.USER_ID }}
          USER_PASS: ${{ secrets.USER_PASS }}
          GCP_JSON: ${{ secrets.GCP_JSON }}
        run: python mcv_main.py
